$form-rich-textarea-max-height: 70vh !default;
$form-rich-textarea-min-height-single-line: 45px !default;
$form-rich-textarea-min-height-xs: 45px !default;
$form-rich-textarea-min-height-sm: 70px !default;
$form-rich-textarea-min-height-md: 250px !default;
$form-rich-textarea-min-height-lg: 315px !default;
$form-rich-textarea-margin-top: 10px !default;
