/*
 * This file is part of the Klipper package.
 *
 * (c) François Pluchino <francois.pluchino@klipper.dev>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

@import '~vuetify/src/styles/tools/index';
@import '~quill/dist/quill.snow.css';
@import 'variables';

.k-form-rich-textarea {
    &.error--text {
        .ql-editor {
            color: initial !important;
        }
    }

    .v-input__slot {
        flex-direction: column;
        align-items: normal;
    }

    .ql-editor {
        max-height: $form-rich-textarea-max-height;
    }

    &.ql-xs {
        .ql-editor {
            min-height: $form-rich-textarea-min-height-xs;
        }
    }

    &.ql-sm {
        .ql-editor {
            min-height: $form-rich-textarea-min-height-sm;
        }
    }

    &.ql-md {
        .ql-editor {
            min-height: $form-rich-textarea-min-height-md;
        }
    }

    &.ql-lg {
        .ql-editor {
            min-height: $form-rich-textarea-min-height-lg;
        }
    }

    &.k-form-rich-textarea--single-line {
        margin-top: $form-rich-textarea-margin-top;

        .ql-editor {
            min-height:$form-rich-textarea-min-height-single-line;
        }
    }

    &.k-form-rich-textarea--solo,
    &.k-form-rich-textarea--solo-flat {
        .ql-toolbar,
        .ql-container {
            border: none;
        }

        .ql-toolbar,
        .ql-editor {
            padding-left: 0;
            padding-right: 0;
        }

        .ql-editor {
            &.ql-blank::before {
                left: 0;
            }
        }
    }

    &.k-form-rich-textarea--toolbar-bottom {
        .v-input__slot {
            display: flex;
            flex-direction: column;
        }

        .ql-container {
            order: 0;
        }

        .ql-editor {
            padding-bottom: 0;
        }

        .ql-toolbar {
            order: 1;
            margin-bottom: $form-rich-textarea-margin-top;
        }
    }
}


@include theme('k-form-rich-textarea') using($material) {
    .ql-toolbar {
        background-color: map-deep-get($material, 'rich-textarea', 'toolbar');
    }

    .ql-editor {
        &.ql-blank::before {
            color: map-deep-get($material, 'text', 'secondary');
        }
    }

    &.error--text {
        .ql-container {
            border-bottom-color: currentColor;
        }
    }
}
