/*
 * This file is part of the Klipper package.
 *
 * (c) François Pluchino <francois.pluchino@klipper.dev>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

.v-app-bar {
    &.v-app-bar--elevate-on-scroll.v-app-bar--fixed.v-app-bar--hide-shadow {
        &.v-app-bar--transparent-on-top {
            background-color: transparent;
        }
    }
}

@media (min-width: 920px) {
    .v-sheet {
        &.v-app-bar {
            &.v-toolbar {
                &.v-app-bar--fixed {
                    box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.12), 0 30px 6px -30px rgba(0, 0, 0, 0.2), 0 28px 16px -30px rgba(0, 0, 0, 0.24);

                    .v-toolbar__extension {
                        > .v-tabs {
                            margin-left: 16px;
                        }
                    }
                }
            }
        }
    }
}
