/*
 * This file is part of the Klipper package.
 *
 * (c) François Pluchino <francois.pluchino@klipper.dev>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

.v-btn {
    &.no-top-radius {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    &.no-bottom-radius {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    &.btn-content {
        height: auto !important;
        padding-top: 15px !important;
        padding-bottom: 15px !important;

        .v-btn__content {
            white-space: normal;
            flex-direction: column;
            max-width: 100%;
        }
    }
}

.v-tabs {
    .v-tabs-bar__content {
        .v-btn {
            margin: 8px 8px;
        }
    }

    &.v-tabs--centered,
    &.v-tabs--right {
        .v-tabs-bar__content {
            .v-tabs-slider-wrapper + .v-btn {
                margin-left: auto !important;
            }

            .v-btn {
                &:first-child {
                    margin-left: auto !important;
                }
            }
        }
    }

    &.v-tabs--centered {
        .v-tabs-bar__content {
            .v-btn {
                &:last-child {
                    margin-right: auto !important;
                }
            }
        }
    }
}
