/*
 * This file is part of the Klipper package.
 *
 * (c) François Pluchino <francois.pluchino@klipper.dev>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

@import '~vuetify/src/components/VNavigationDrawer/variables';

.v-application {
    > .v-application--wrap {
        > .v-navigation-drawer {
            border-top-right-radius: 24px;
            border-bottom-right-radius: 24px;
            overflow: hidden;
            border-right: $navigation-drawer-border-width solid transparent;

            > .v-navigation-drawer__border {
                display: none;
            }
        }

        @include theme('v-navigation-drawer') using($material) {
            & {
                border-right-color: map-deep-get($material, 'dividers');
            }
        }
    }
}

.v-navigation-drawer {
    &.theme--light {
        .v-navigation-drawer__content {
            background:
                linear-gradient(map-deep-get($material-light, 'background') 33%, rgba(255,255,255, 0)),
                linear-gradient(rgba(255,255,255, 0), map-deep-get($material-light, 'background') 66%) 0 100%,
                radial-gradient(farthest-side at 50% 0, rgba(23,23,23, 0.41), rgba(0,0,0,0)),
                radial-gradient(farthest-side at 50% 100%, rgba(23,23,23, 0.41), rgba(0,0,0,0)) 0 100%;
            background-color: transparent;
            background-repeat: no-repeat;
            background-attachment: local, local, scroll, scroll;
            background-size: 100% 18px, 100% 18px, 100% 6px, 100% 6px;
        }
    }

    &.theme--dark {
        .v-navigation-drawer__content {
            background:
                linear-gradient(map-deep-get($material-dark, 'background') 33%, rgba(24,32,41, 0)),
                linear-gradient(rgba(24,32,41, 0), map-deep-get($material-dark, 'background') 66%) 0 100%,
                radial-gradient(farthest-side at 50% 0, rgba(255,255,255, 0.41), rgba(0,0,0,0)),
                radial-gradient(farthest-side at 50% 100%, rgba(255,255,255, 0.41), rgba(0,0,0,0)) 0 100%;
            background-color: transparent;
            background-repeat: no-repeat;
            background-attachment: local, local, scroll, scroll;
            background-size: 100% 18px, 100% 18px, 100% 6px, 100% 6px;
        }
    }
}

@media (min-width: 920px) {
    .v-application {
        > .v-application--wrap {
            > .v-navigation-drawer {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;

                &.v-navigation-drawer--fixed {
                    &.v-navigation-drawer--open {
                        background-color: transparent;
                        border-color: transparent;
                    }
                }
            }

            @include theme('v-navigation-drawer') using($material) {
                & {
                    background-color: map-deep-get($material, 'bg-color');
                    border-right-color: map-deep-get($material, 'bg-color');
                }
            }
        }
    }
}
