/*
 * This file is part of the Klipper package.
 *
 * (c) François Pluchino <francois.pluchino@klipper.dev>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

@import '~vuetify/src/styles/settings/colors';
@import '~vuetify/src/components/VNavigationDrawer/variables';
@import '~@klipper/bow/styles/utilities/scrollShadow';

.v-application {
    > .v-application--wrap {
        > .v-navigation-drawer {
            border-top-right-radius: 24px;
            border-bottom-right-radius: 24px;
            overflow: hidden;
            border-right: $navigation-drawer-border-width solid transparent;

            > .v-navigation-drawer__border {
                display: none;
            }
        }

        @include theme('v-navigation-drawer') using($material) {
            & {
                border-right-color: map-deep-get($material, 'dividers');
            }
        }
    }
}

// Content Scroll Shadow
.v-navigation-drawer:not(.primary):not(.secondary):not(.accent):not(.error):not(.info):not(.success):not(.warning) {
    &.theme--light {
        > .v-navigation-drawer__content {
            @include lightScrollShadow(map-get($material-light, 'navigation-drawer'));
        }

        @each $color_name, $color_value in $shades {
            &.#{$color_name} {
                > .v-navigation-drawer__content {
                    @include lightScrollShadow($color_value);
                }
            }
        }

        @each $color_name, $color_color in $colors {
            @each $color_type, $color_value in $color_color {
                @if ($color_type == 'base') {
                    &.#{$color_name} {
                        > .v-navigation-drawer__content {
                            @include lightScrollShadow($color_value);
                        }
                    }
                }
                @else if ($color_type != 'shades') {
                    &.#{$color_name}.#{$color_type} {
                        > .v-navigation-drawer__content {
                            @include lightScrollShadow($color_value);
                        }
                    }
                }
            }
        }
    }

    &.theme--dark {
        > .v-navigation-drawer__content {
            @include darkScrollShadow(map-get($material-dark, 'navigation-drawer'));
        }

        @each $color_name, $color_value in $shades {
            &.#{$color_name} {
                > .v-navigation-drawer__content {
                    @include darkScrollShadow($color_value);
                }
            }
        }

        @each $color_name, $color_color in $colors {
            @each $color_type, $color_value in $color_color {
                @if ($color_type == 'base') {
                    &.#{$color_name} {
                        > .v-navigation-drawer__content {
                            @include darkScrollShadow($color_value);
                        }
                    }
                }
                @else if ($color_type != 'shades') {
                    &.#{$color_name}.#{$color_type} {
                        > .v-navigation-drawer__content {
                            @include darkScrollShadow($color_value);
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 920px) {
    .v-application {
        > .v-application--wrap {
            > .v-navigation-drawer {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
    }

    // Content Scroll Shadow
    .v-navigation-drawer:not(.primary):not(.secondary):not(.accent):not(.error):not(.info):not(.success):not(.warning) {
        &.theme--light {
            > .v-navigation-drawer__content {
                @include lightScrollShadow(map-deep-get($material-light, 'navigation-drawer'));
            }
        }

        &.theme--dark {
            > .v-navigation-drawer__content {
                @include darkScrollShadow(map-deep-get($material-dark, 'navigation-drawer'));
            }
        }
    }
}
