/*
 * This file is part of the Klipper package.
 *
 * (c) François Pluchino <francois.pluchino@klipper.dev>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

.k-image-avatar {
    .v-skeleton-loader__avatar {
        width: 100%;
        height: 100%;
    }
}

.k-image-avatar-skeleton-loader {
    display: flex;
    align-items: center;
}
