/*
 * This file is part of the Klipper package.
 *
 * (c) François Pluchino <francois.pluchino@klipper.dev>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

@import '~vuetify/src/styles/styles';
@import '~vuetify/src/styles/settings/variables';
@import '~@klipper/bow/styles/variables';

.k-col-label,
.k-col-label-content {
    padding-top: 4px;
    padding-bottom: 4px;
}

.k-col-label {
    font-size: map-deep-get($headings, 'body-2', 'size') !important;

    > span {
        display: inline-block;
    }

    > * {
        margin-top: map-deep-get($headings, 'body-2', 'size') * 0.38;
    }
}

.k-col-label-row {
    position: relative;
    min-height: $coll-label-height;
}

.k-col-label-content {
    word-break: break-word;
    position: relative;

    .v-chip {


        .v-chip__content {
            white-space: normal;
        }
    }
}

.k-col-label-content-wrapper {
    &.edit {
        margin-top: -4px;
    }
}

.k-col-label-vertical {
    .k-col-label,
    .k-col-label-content {
        flex: 0 0 100%;
        max-width: 100%;
        text-align: start !important;
    }
}

@include theme('k-col-label-row') using($material) {
    &.k-col-label-empty {
        opacity: map-get($material, 'col-label-empty-opacity');
    }

    .k-col-label {
        color: map-get($material, 'col-label-color');
    }
}

@media all and (max-width: #{map-get($grid-breakpoints, 'md') - 1}) {
    .k-col-label-badge-trans {
        .v-badge__badge {
            left: calc(100% + 8px) !important;
            right: auto !important;
            top: auto !important;
            bottom: calc(100% - 4px) !important;
        }
    }
}