/*
 * This file is part of the Klipper package.
 *
 * (c) François Pluchino <francois.pluchino@klipper.dev>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

@import "~vuetify/src/styles/tools/functions";
@import "~vuetify/src/styles/settings/colors";

// Fonts
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts' !default;
$material-design-icons-font-directory-path: '~material-design-icons-iconfont/dist/fonts/' !default;
$klipper-icons-font-path: '~@klipper/icons/fonts/' !default;

$body-font-family: 'Nunito', sans-serif !default;

// Container
$container-padding-x: 24px !default;

// Transitions
$transition: (
    fast-out-slow-in: cubic-bezier(0.4, 0.0, 0.2, 1),
    linear-out-slow-in: cubic-bezier(0.0, 0.0, 0.2, 1),
    fast-out-linear-in: cubic-bezier(0.4, 0.0, 1, 1),
    ease-in-out: cubic-bezier(0.4, 0.0, 0.6, 1),
    fast-in-fast-out: cubic-bezier(.25, .8, .25, 1),
    swing: cubic-bezier(.25, .8, .50, 1)
);

$primary-transition: 0.3s map-get($transition, 'swing') !default;
$secondary-transition: 0.2s map-get($transition, 'ease-in-out') !default;

// Scrollbar
$scrollbar-size: 6px !default;
$scrollbar-width: thin !default;
$scrollbar-radius: $scrollbar-size !default;

// Data table
$data-table-large-row-padding: 12px;
$data-table-extra-large-row-padding: 18px;

// Col Label
$coll-label-height: 40px;

// Button
$btn-border-radius: 12px !default;

// Card
$card-elevation: 0 !default;
$card-border-radius: 6px !default;
$card-actions-padding: 8px 12px !default;

// Menu
$menu-content-border-radius: 6px !default;

// Theme
$material-light: () !default;
$material-light: map-deep-merge(
    (
        'app-bar': #f5f9fc,
        'background': #f5f9fc,
        'bg-color': #f5f9fc,
        'toolbar': #f5f9fc,
        'toolbar-border-color': transparent,
        'card-border-color': transparent,
        'navigation-drawer': #354052,
        'dividers': #f3f6fd,
        'scrollbar-track': rgba(#182029, 0.07),
        'scrollbar-track-hover': rgba(#182029, 0.1),
        'scrollbar-track-html': #f5f9fc,
        'scrollbar-track-html-hover': #f5f9fc,
        'scrollbar-thumb': rgba(#182029, 0.07),
        'scrollbar-thumb-html': transparent,
        'scrollbar-thumb-hover': rgba(#182029, 0.2),
        'scrollbar-thumb-hover-thumb-hover': rgba(#182029, 0.4),
        'col-label-empty-opacity': 0.2,
        'col-label-color': #959eab,
        'text-fields': (
            'filled': rgba(map-get($shades, 'black'), 0.03),
            'filled-hover': rgba(map-get($shades, 'black'), 0.06),
        ),
        'text': (
            'primary': #333e50,
            'secondary': #9ba3af,
            'link': #48bac1,
            'link-hover': #77c9d0,
        ),
        'table': (
            'active': #f1faff,
            'hover': #f8f9fa,
            'group': #b3e5fc,
        ),
    ),
    $material-light
);

$material-dark-elevation-colors: () !default;
$material-dark-elevation-colors: (
    '0': #182029,
    '1': #2d363f,
    '2': #333c45,
    '3': #384249,
    '4': #272727,
    '6': #2C2C2C,
    '8': #2E2E2E,
    '12': #333333,
    '16': #363636,
    '24': #373737
);

$material-dark: () !default;
$material-dark: map-deep-merge(
    (
        'app-bar': #182029,
        'background': #182029,
        'bg-color': #182029,
        'toolbar': #182029,
        'toolbar-border-color': transparent,
        'cards': #2d363f,
        'card-border-color': transparent,
        'navigation-drawer': #263348,
        'dividers': #384249,
        'scrollbar-track': rgba(#f5f9fc, 0.05),
        'scrollbar-track-hover': rgba(#f5f9fc, 0.1),
        'scrollbar-track-html': #182029,
        'scrollbar-track-html-hover': #182029,
        'scrollbar-thumb': rgba(#f5f9fc, 0.1),
        'scrollbar-thumb-html': transparent,
        'scrollbar-thumb-hover': rgba(#f5f9fc, 0.3),
        'scrollbar-thumb-hover-thumb-hover': rgba(#f5f9fc, 0.4),
        'col-label-empty-opacity': 0.14,
        'col-label-color': #959eab,
        'text-fields': (
            'filled': rgba(map-get($shades, 'white'), 0.04),
            'filled-hover': rgba(map-get($shades, 'white'), 0.08),
        ),
        'text': (
            'link': #48bac1,
            'link-hover': #77c9d0,
        ),
        'table': (
            'active': #687897,
            'hover': map-get($material-dark-elevation-colors, '2'),
            'group': map-get($material-dark-elevation-colors, '3')
        ),
    ),
    $material-dark
);
